/* =================================
  #Reset & Basics
==================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* =================================
  #Basic Styles
==================================== */

body {
	background: #fff;
	font-family: 'Work Sans', sans-serif;
  font-size: 16px;
	color: #333;
	-webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  /* -webkit-text-size-adjust: 100%; }
  @media (prefers-color-scheme: dark) {
    body {
      background: #000;
      color: #F0F0F0; } } */
}

/* =================================
  #Typography
==================================== */

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	margin-bottom: 16px;
}

h1 {
	font-size: 4em;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

h2 {
	font-size: 3em;
	line-height: 1.5;
}

h3 {
	font-size: 2em;
	line-height: 1.5;
}

h4 {
	font-size: 1.5em;
	line-height: 1.5;
}

h5 {
	font-size: 1em;
	line-height: 1.5;
}

h6 {
	font-size: 1em;
	line-height: 1.5;
}

p {
	margin: 0 0 32px 0;
	font-size: 1em;
	line-height: 1.5;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

.subheading {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.3em;
}

/* =================================
  #Links
==================================== */

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

.nav a {
  font-weight: 400;
  color: #8E8E93;
  text-decoration: none;
}

.nav a:hover {
  color: #5856D6;
  font-weight: 500;
	transition: .2s;
}

p a:link {
	color: inherit;
	border-bottom: 1px solid #5856D6;
}

p a:hover {
	color: #5856D6;
	border-bottom: none;
	transition: .2s;
}

.project:hover .project-description {
	color: #5856D6;
}

.project:hover img {
	transition: all .2s ease-in-out;
	transform: scale(1.04);
}

/* =================================
  #Page Layout Styles
==================================== */
.page-wrapper {
  width: 90%;
  margin: auto;
}

img {
  width: 100%;
	margin-bottom: 1em;
}

#homepage-intro {
  margin: 128px 0;
}

#work a {
	display: block;
}

.project {
	margin-bottom: 64px;
	overflow: hidden;
}

/* =================================
  #Navigation
==================================== */
.main-header {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
}

.site-name {
  color: #0D0D1E;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  display: block;
  align-self: center;
  border-bottom: none;
}

/* =================================
  #Footer
==================================== */

footer {
	margin-top: 64px;
	margin-bottom: 48px;
	padding-top: 64px;
	border-top: 1px solid #E5E5EA;
	text-align: center;
}

footer .nav {
	margin-top: 48px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

.main-header {
  flex-direction: row;
}

.site-name {
  margin-right: auto;
}

.nav {
  margin-top: 0;
  align-self: center;
}

.nav li {
  margin-left: 3em;
}


}
